html, * {
    font-family: helvetica;
    box-sizing: border-box;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
}

main {
    
    height: auto;
    display: grid;
    grid-template-columns: 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
}

main * {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 140, 80);
}

main div {
    border: 1px solid black;
}

#come {
    grid-column: 1 / 6;
    grid-row: 2 / 4;
}

#anySeven {
    grid-column: 6 / 8;
    grid-row: 2;
}

#fieldTop {
    grid-column: 1 / 6;
    grid-row: 4 / 5;
    border-bottom: none;
    word-spacing: 30px;
}

#fieldBottom {
    grid-column: 1 / 6;
    grid-row: 5 / 6;
    border-top: none;
}

#dontPass {
    grid-column: 1 / 6;
    grid-row: 6;
}

#passLine {
    grid-column: 1 / 6;
    grid-row: 7;
}

#anyCraps {
    grid-column: 6 / 8;
    grid-row: 7;
}

.sideBet {
    font-size: 4vmin;
}

.pointRow {
    font-size: 3vmin;
 
}

#dontCome {
    text-align: center;
}

.center {
    font-size: 3vmin;
}

section.bottomRow {
    display: grid;
    grid-template-columns: 7vh 7vh 7vh 7vh 7vh 7vh 7vh 7vh 7vh 7vh;
    grid-template-rows: 7vh 7vh;
    justify-items: center;
    background-color: rgb(0, 140, 80)
    
}

.chip {
    display: flex;
    border-radius: 50%;
    height: 5vmin;
    width: 5vmin;
    align-items: center;
    justify-content: center;
}

.bottomRow {
    align-items: center;
}

#chipTotal {
    grid-column: 1 / 3;
    grid-row: 2;
    font-size: 2.75vh;
}

#chipDisplay {
    grid-column: 3 / 5;
    grid-row: 2;
    font-size: 2.75vh;
}

#rollBtn {
    grid-column: 6 / 8;
    grid-row: 2;
    height: 6vh;
    font-size: 2vh;
}

#resetBtn {
    grid-column: 9 / 10;
    grid-row: 2;
}

#betAmount {
    grid-column: 9 / 11;
    grid-row: 1;
    font-size: 2.3vh;
}

#betDisplay {
    grid-column: 7 / 9;
    grid-row: 1;
    font-size: 2.75vh;
}

#chip1 {
    background-color: white;
}

#chip5 {
    background-color: red;
}
#chip25 {
    background-color: green;
}
#chip100 {
    background-color: black;
    color: white;
}
#chip500 {
    background-color: pink;
}