html, * {
    font-family: helvetica;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
}

main * {
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    border: 2px solid black;
    /* text-align: center; */
    

}

#come {
    border: 2px solid black;
}
