html, * {
    font-family: helvetica;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
}

main * {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 140, 80);
}

div {
    border: 1px solid black;
}

#come {
    grid-column: 1 / 6;
    grid-row: 2 / 4;
}

#anySeven {
    grid-column: 6 / 8;
    grid-row: 2;
}

#fieldTop {
    grid-column: 1 / 6;
    grid-row: 4 / 5;
    border-bottom: none;
}

#fieldBottom {
    grid-column: 1 / 6;
    grid-row: 5 / 6;
    border-top: none;
}

#dontPass {
    grid-column: 1 / 6;
    grid-row: 6;
}

#passLine {
    grid-column: 1 / 6;
    grid-row: 7;
}

#anyCraps {
    grid-column: 6 / 8;
    grid-row: 7;
}

.sideBet {
    font-size: 4vmin;
}

.pointRow {
    font-size: 3vmin;
    
}

#dontCome {
    
}
